In [4]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline

In [79]:
# Get data
df = pd.read_csv('./Documents/Daniel/stock_prediction/all_stocks_5yr.csv')

In [80]:
# Set date as index
df.index = df.date
del df['date']

# Rename columns
df.columns = ['Open', 'High', 'Low', 'Close', 'Volume', 'Symbol']
cols = ['Open', 'High', 'Low', 'Close', 'Volume', 'Symbol']
df.head()

             Open   High    Low  Close    Volume Symbol
date
2013-02-08  15.07  15.12  14.63  14.75   8407500    AAL
2013-02-11  14.89  15.01  14.26  14.46   8882000    AAL
2013-02-12  14.45  14.51  14.10  14.27   8126000    AAL
2013-02-13  14.30  14.94  14.25  14.66  10259500    AAL
2013-02-14  14.94  14.96  13.16  13.99  31879900    AAL

In [85]:
# Compute returns for each stock
df['Return'] = df.groupby('Symbol')['Close'].pct_change()
df.dropna(inplace=True)

             Open     High      Low  Close    Volume Symbol    Return
date
2013-02-11  14.89  15.0100  14.2600  14.46   8882000    AAL -0.019661
2013-02-12  14.45  14.5100  14.1000  14.27   8126000    AAL -0.013140
2013-02-13  14.30  14.9400  14.2500  14.66  10259500    AAL  0.027330
2013-02-14  14.94  14.9600  13.1600  13.99  31879900    AAL -0.045703
2013-02-15  13.93  14.6100  13.9300  14.50  15628000    AAL  0.036455
2013-02-19  14.33  14.5600  14.0800  14.26  11354400    AAL -0.016552
2013-02-20  14.17  14.2600  13.1500  13.33  14725200    AAL -0.065217
2013-02-21  13.62  13.9500  12.9000  13.37  11922100    AAL  0.003001
2013-02-22  13.57  13.6000  13.2100  13.57   6071400    AAL  0.014959
2013-02-25  13.60  13.7600  13.0000  13.02   7186400    AAL -0.040531
2013-02-26  13.14  13.4200  12.7000  13.26   9419000    AAL  0.018433
2013-02-27  13.28  13.6200  13.1800  13.41   7390500    AAL  0.011312
2013-02-28  13.49  13.6300  13.3900  13.43   6143600    AAL  0.001491
2013-03-01  13.37  13.9500  13.3200  13.61   7376800    AAL  0.013403
2013-03-04  13.50  14.0700  13.4700  13.90   8174800    AAL  0.021308
2013-03-05  14.01  14.0500  13.7100  14.05   7676100    AAL  0.010791
2013-03-06  14.52  14.6800  14.2500  14.57  13243200    AAL  0.037011
2013-03-07  14.70  14.9300  14.5000  14.82   9125300    AAL  0.017159
2013-03-08  14.99  15.2000  14.8400  14.92  10593700    AAL  0.006748
2013-03-11  14.85  15.1500  14.7100  15.13   6961800    AAL  0.014075
2013-03-12  15.14  15.6000  14.9500  15.50   8999100    AAL  0.024455
2013-03-13  15.54  16.2000  15.4800  15.91  11380000    AAL  0.026452
2013-03-14  15.98  16.3600  15.9300  16.25   8383300    AAL  0.021370
2013-03-15  16.45  16.5400  15.8800  15.98  17667700    AAL -0.016615
2013-03-18  15.80  16.3300  15.7100  16.29   6514100    AAL  0.019399
2013-03-19  16.48  16.8500  16.4100  16.78  11805300    AAL  0.030080
2013-03-20  17.13  17.3300  16.8700  17.23  10819800    AAL  0.026818
2013-03-21  17.21  17.4300  16.8700  17.00  10740800    AAL -0.013349
2013-03-22  17.10  17.2900  16.7700  16.86   8545200    AAL -0.008235
2013-03-25  16.92  17.0000  16.3500  16.60   8400000    AAL -0.015421
...           ...      ...      ...    ...       ...    ...       ...
2017-12-26  72.40  72.5500  71.9000  72.34    792134    ZTS  0.004862
2017-12-27  72.59  72.6900  72.2500  72.45   1159771    ZTS  0.001521
2017-12-28  72.49  72.6000  72.1400  72.39    710499    ZTS -0.000828
2017-12-29  72.55  72.7600  72.0400  72.04   1704122    ZTS -0.004835
2018-01-02  72.54  72.5900  71.4650  71.77   2135564    ZTS -0.003748
2018-01-03  71.77  72.1800  71.3400  72.10   2328506    ZTS  0.004598
2018-01-04  72.75  72.9128  72.2600  72.53   2534010    ZTS  0.005964
2018-01-05  72.83  73.9200  72.5700  73.36   2166065    ZTS  0.011444
2018-01-08  73.43  74.4200  73.1607  74.24   3631552    ZTS  0.011996
2018-01-09  74.70  75.4750  74.4650  75.11   2721946    ZTS  0.011719
2018-01-10  74.58  74.8000  73.2800  73.91   2257464    ZTS -0.015977
2018-01-11  74.05  74.6800  73.7200  74.59   1629279    ZTS  0.009200
2018-01-12  74.91  75.6900  74.7700  75.39   1915669    ZTS  0.010725
2018-01-16  76.06  76.4000  75.2100  75.54   2599094    ZTS  0.001990
2018-01-17  75.81  77.0300  75.3900  76.77   2769587    ZTS  0.016283
2018-01-18  76.65  76.6500  75.8500  76.33   2588995    ZTS -0.005731
2018-01-19  76.69  76.9100  76.2200  76.62   4829602    ZTS  0.003799
2018-01-22  76.67  77.5800  76.6200  77.48   4195103    ZTS  0.011224
2018-01-23  77.30  78.3200  76.9700  77.59   2264132    ZTS  0.001420
2018-01-24  78.16  78.5100  77.6000  78.33   2585326    ZTS  0.009537
2018-01-25  78.47  79.3800  78.3450  79.25   2327262    ZTS  0.011745
2018-01-26  79.49  80.1300  79.3800  80.09   2532808    ZTS  0.010599
2018-01-29  79.81  79.9500  79.1100  79.18   2662383    ZTS -0.011362
2018-01-30  78.44  78.6900  77.9100  78.35   3808707    ZTS -0.010482
2018-01-31  78.49  78.7700  76.5400  76.73   4136360    ZTS -0.020676
2018-02-01  76.84  78.2700  76.6900  77.82   2982259    ZTS  0.014206
2018-02-02  77.53  78.1200  76.7300  76.78   2595187    ZTS -0.013364
2018-02-05  76.64  76.9200  73.1800  73.83   2962031    ZTS -0.038421
2018-02-06  72.74  74.5600  72.1300  73.27   4924323    ZTS -0.007585
2018-02-07  72.70  75.0000  72.6900  73.86   4534912    ZTS  0.008052

[619028 rows x 7 columns]