In [229]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline

In [230]:
# Get data
df = pd.read_csv('./Documents/Daniel/stock_prediction/all_stocks_5yr.csv')

In [231]:
# Set date as index
df.index = df.date
df.index = pd.to_datetime(df.index)
del df['date']

# Rename columns and rearrange
df.columns = ['Open', 'High', 'Low', 'Close', 'Volume', 'Symbol']
cols = ['Symbol','Open', 'High', 'Low', 'Close', 'Volume']
df = df[cols]
df.head()

           Symbol   Open   High    Low  Close    Volume
date
2013-02-08    AAL  15.07  15.12  14.63  14.75   8407500
2013-02-11    AAL  14.89  15.01  14.26  14.46   8882000
2013-02-12    AAL  14.45  14.51  14.10  14.27   8126000
2013-02-13    AAL  14.30  14.94  14.25  14.66  10259500
2013-02-14    AAL  14.94  14.96  13.16  13.99  31879900

In [232]:
# Compute returns for each stock
df['Return'] = df.groupby('Symbol')['Close'].pct_change()
df.dropna(inplace=True)

In [233]:
# Get each stock to a list
symbols = df['Symbol'].unique()

In [234]:
# Specify dummy variables related to weekday, monthday, month

df['Weekday'] = df.index.dayofweek
df['Monthday'] = df.index.day
df['Month'] = df.index.month

In [235]:
# Create categorical variable based on returns
df['Cat'] = np.zeros(len(df))
df.loc[df['Return'] > 0, 'Cat'] = 1
df.loc[df['Return'] < 0, 'Cat'] = -1
df.loc[(df['Return'] < 0.005) & (df['Return'] > -0.005), 'Cat'] = 0

In [236]:
# Select only data with full number of observations
df = df.groupby('Symbol').filter(lambda x: len(x) == 1259)

In [240]:
# Divide between train and test sets
# Cont. here
X = df[['Open', 'High', 'Low', 'Close', 'Volume', 'Weekday', 'Monthday', 'Month']].values
y = df['Cat'].values

num_features = X.shape[1]

X = X.reshape(-1,467,num_features)
y = y.reshape(-1,467)

In [ ]:
# Divide to train and test with sklearn train test split